:root {
    --dominant-color: #FEFEFE;
    --accent-color1: #5A2727;
    --accent-color2: #E0E0E0;
    --accent-color3: #EBEBEB;
    --accent-color4: #F5F5F5;
    --standard-color: black;
    --font1: Georgia, serif;
    --font2: Verdana, Arial, Helvetica, sans-serif;
  }

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--standard-color);
    background-color: var(--dominant-color);
    font-family: var(--font1);
    position: relative;
    min-height: 100vh;
}

h1 {
    font-family: var(--font1);
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

h2,h3,h4,h5,h6 {
    font-family: var(--font2);
}

.main-navbar__container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--accent-color1);
    border-bottom: solid 1px black;
}

.main-navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 42rem;
    margin: 0 auto;
    height: 100%;
}

.main-navbar__title {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem;
    flex-grow: 1;
}

.banner-image {
    display: block;
    width:100%;
    max-width: 1600px;
    box-sizing: border-box;
    max-height: 70vh;
    object-fit: cover;
    margin: 0 auto;
}

.banner-image__container {
    background-color: var(--accent-color4);
    border-bottom: solid 1px black;
}

.main-nav {
    background-color: var(--dominant-color);
    padding: 0.5rem;
    border: solid 1px black;
    cursor:default;
    margin-right: 0.5rem;
}

.main-nav:has(> details[open]) {
    position: absolute;
    right:0;
    top:0;
    width: 100%;
    box-sizing: border-box;
    transition: width 0.5s;
    margin:0;
    font-size: 1.2rem;
}

.main-nav__content-type {
    padding-left: 1rem;
}

.main-nav__content-item {
    padding-left: 2rem;
}

.main-content {
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.main-content__page {
    padding: 0.5rem;
    max-width: 42rem;
    margin: 0 auto;
}

.root-crumb--alone,
.root-crumb--alone:visited,
.root-crumb--alone:active {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--dominant-color);
}

.breadcrumbs {
    padding: 1.2rem;
    max-width: 42rem;
    margin: 0 auto;
}

.inline-image {
    max-width: 100%;
    margin-top: 1rem;
    border: solid 1px black;
}

.index-card {
    background-color: var(--accent-color2);
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--standard-color);
    border: solid 1px black;
}

.index-card__link-container {
    text-decoration: none;
}

.main-footer {
    height: 8rem;
    background-color: var(--accent-color1);
    position: absolute;
    bottom: 0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px black;
    color: white;
}

.main-footer a {
    color: lightseagreen;
}

blockquote {
    padding: 4rem 1rem;
    margin: 1rem;
    position: relative;
    background-color: var(--accent-color2);
    border: solid 1px black;
}

blockquote::before {
    content: "“";
    font-size: 6rem;
    position: absolute;
    left: 1rem;
    top: 0;
    font-family: var(--font2);
}

blockquote::after {
    content: "“";
    font-size: 6rem;
    position: absolute;
    right: 1rem;
    bottom: -3rem;
    font-family: var(--font2);
    pointer-events: none;
}

.image-attribution {
    padding: 0.2rem 1rem;
    background-color: var(--accent-color4);
    font-size: 0.8rem;
}

.footnote-infobox {
    position: absolute;
    padding: 0.5rem;
    background-color: var(--accent-color3);
    border: solid 1px black;
    max-width: 50vw;
    transition: opacity 0.5s;
}

.footnote-link {
    text-decoration: none;
    font-size: 0.9rem;
}

.footnote-link:visited {
    color: rgb(0,0,238);
}

.footnote-link:hover {
    text-decoration: underline;
}

a {
    word-break: break-word;
}